deepface==0.0.93
tensorflow==2.9.0
uvicorn==0.34.0
fastapi==0.115.6
numpy==1.26.0
python-multipart==0.0.20
torch==2.2.0
scipy==1.15.2
facenet-pytorch==2.6.0
weaviate-client
streamlit
azure-cosmos 
azure-storage-blob 
python-dotenv 
PyJWT 
scikit-learn
