body {
    background: url('../assets/wallhaven-rr8681_1920x1080.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .custom-button {
    background-color: #E34989;
    color: #FDEED9;
    padding: 0.75rem 1.5rem;  
    border-radius: 0.375rem;  
    font-size: 1rem;        
    font-weight: 500;        
    transition: all 0.2s;   
  }
  
  .custom-button:hover {
    background-color: #FFADC6;
    color: #573C27;
  }
  
  .slide-from-left {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 1s ease-out;
  }
  
  .animate-in {
    opacity: 1;
    transform: translateX(0);
  }
  
  .navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  }
